* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 100vh;
    background-image: url('../imgi/cheep.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    width: 100%;
    height: 15vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

nav .logo {}